.main-navigation {

  &__header {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    #toggle-super-menu {
      position: absolute;
      right: 10%;
      // better uix 
      padding: 15px;
      cursor: pointer;
    }

    #toggle-super-menu:hover {
      filter: drop-shadow(0px 0px 3px #FF5C00);
    }
  }

  ul {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 50px;

    li {
      position: unset; // decoration placed relative to super menu
      display: block;
      font-size: 50px;

      a:hover {
        text-shadow: 0px 0px 10px #FF5C00;
      }
    }

  }

}

.super-menu {
  display: flex;
  opacity: 0;
  transition: opacity 0.5s;
  position: relative;
  background-color: #FFF5E9;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 40px;
  padding-top: 40px;
  height: 88vh; // covers nearly all viewport
  overflow: hidden; // hide overflow content

  &__logo {
    width: 154px;
    filter: drop-shadow(0px 0px 10px #FF5C00);
  }

  &.is-visible {
    opacity: 1;
  }

  #story::before {
    content: url("../foce/assets/images/orchid.png");
    position: absolute;
    left: -4.2rem;
    top: 4.2rem;
  }

  #story::after {
    content: url("../foce/assets/images/Sunflower.png");
    position: absolute;
    right: 15rem;
    top: 8rem;
  }

  #characters::before {
    content: url("./assets/images/cat_blue.png");
    position: absolute;
    left: 18rem;
    top: 15rem;
  }

  #characters::after {
    content: "";
    background: url("../foce/assets/images/random_flower.png") no-repeat center center;
    width: 100px;
    height: 100px;
    background-size: 100% auto;
    position: absolute;
    right: -3rem;
    top: 24rem;
  }

  #place::before {
    content: "";
    background: url("../foce/assets/images/flower.png") no-repeat center center;
    width: 70px;
    height: 70px;
    background-size: 100% auto;
    position: absolute;
    left: 13rem;
    top: 34rem;
  }

  #place:after {
    content: url("./assets/images/cat_black.png");
    position: absolute;
    right: 18rem;
    top: 33rem;
  }

  #koukaki:before {
    content: url("./assets/images/cat_yellow.png");
    position: absolute;
    left: 10rem;
    top: 46rem;
  }

  #koukaki::after {
    content: url("../foce/assets/images/hibiscus_footer.png");
    position: absolute;
    right: -23rem;
    bottom: -25rem;
  }
}
