@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@mixin rotate-flower() {
  line-height: 0; //  line-height du parent peut déséquilibrer la symétrie
  animation: rotate 20s infinite linear;
}

main {
  overflow: hidden;
}

.story {
  h2 {
    &::after {
      @include rotate-flower();
    }
  }

  &__article {
    &::after {
      @include rotate-flower();
    }
  }
}

#studio {
  h2 {
    &::before {
      @include rotate-flower();
    }

    &::after {
      @include rotate-flower();
    }
  }
}

.site-footer {
  display: block;

  &::before {
    @include rotate-flower();
  }

  &::after {
    bottom: initial;
    top: 0;
    @include rotate-flower();
  }

  ul::after {
    @include rotate-flower();
  }
}
