$translation-speed: 2s;
$translation-distance: 200px;

.section {
  position: relative;
  opacity: 0; // initially invisible 
  bottom: 0 - $translation-distance; // initial position (down)
  transition: opacity 2s ease, bottom $translation-speed;

  &--is-visible {
    opacity: 1; // make it visible 
  }

  &--slide-up {
    bottom: 0px; // slide to his actual position;
  }

  // To stick the text position within is translating container :
  // counter-translate at the same speed.
  &__text {
    position: relative;
    bottom: $translation-distance; // initial position (up) 
    transition: bottom $translation-speed;

    &--slide-down {
      bottom: 0px; // slide to his actual position 
    }
  }
}
