h2 {
  span {
    display: inline-block; // to be able to move it around
    transform: translateY(100%); // move to bottom  
    transition: opacity 2s ease, transform 0.7s ease; 

    &.is-visible {
      transform: translateY(0); // move to is initial position 
    }
  }
}

