$translation-speed: 2s;
$translation-distance: 200px;

.banner {
  opacity: 0;
  bottom: $translation-distance;
  transition: bottom $translation-speed, opacity $translation-speed;

  &--slide-down {
    opacity: 1;
    bottom: 0px;
  }

  &__logo {
    transform: translateY($translation-distance + 100); // the distance is relative
    transition: transform $translation-speed;

    &--slide-up {
      transform: translateY(0);
    }

    &--floating {
      animation: floating 8s infinite linear;
    }

    &--sticky {
      position: fixed !important;
    }
  }
}
