.banner {
  position: relative;
}

.banner__logo {
  position: absolute;
  z-index: 1;
}

/* Thème parent semble désigner un device mobile sous les 1192px.
 * On n'affiche pas la vidéo si en version mobile  
 */
@media all and (max-width: 1192px) {
  #banner-video {
    display: none;
  }
}
